version: "3"
services:
    datascience-notebook:
        # image: jupyter/datascience-notebook
        build: .
        stdin_open: true # docker run -i
        tty: true # docker run -t
        volumes:
            - .:/home/jovyan
        ports:
            - 8888:8888
        container_name: datascience-notebook-container
        environment:
            - JUPYTER_TOKEN=lab
# docker exec -it datascience-notebook-container /bin/bash
